<% if !@versions.empty? %>
  <h3>Current Version: <%= @versions.length %></h3>

  <b>Created At:</b>
  <%= @versions.last.created_at%>
  <br>
  <b>Admin</b>: <%= AdminUser.find(@versions.last.whodunnit).email %>
  <br>
  <% if @versions.length.to_i > 1 %>
    <% if params[:version].to_i > 1 || !params[:version] %>

      <button style='background: #0069d9;'>
      <%= link_to "Previous version", {:version => (params[:version] || @versions.length).to_i - 1}, style: "color: #FFFFFF; text-decoration: none;"%>

      </button>

      <br>
    <% end %>
    <% if params[:version] %>
      <h3>This is <%= "#{params[:version]}"%> version</h3>

      <b>Modify at:</b>
      <%= @versions[(params[:version].to_i - 1)].created_at %>
      <br>
      <b>Admin</b>:
      <%= AdminUser.find(@versions[(params[:version].to_i - 1)].whodunnit).email %>
      <br>
      <button style='background: #356b76;'>
      <%= link_to "Go to current version",{}, style: "color: white; text-decoration: none;" %>
      </button>
      <div style='float: right;'>
     <button style='background: green;'>
      <%= link_to "Save",admin_users_paper_update_path({:version => (params[:version] || @versions.length).to_i }),method: :post, style: "color: white; text-decoration: none;"%>
      </button>
      </div>
      <% end %>
  <% end %>
<% else %>
  <p>This item does not have any registered version.</p>

<% end %>